In [1]:
import sys  
sys.path.insert(0, r'\Users\marci\Desktop\Python\NIST_Database_webscraping')

In [2]:
from NIST_Line import NIST_Line

In [3]:
lines_Ar = NIST_Line(element='Ar', low_w=200, upper_w=900, sp_num=[1,2,3])

In [5]:
lines_Ar.search_n_nearest_lines(811, 10)

,element,sp_num,obs_wl_air(nm),unc_obs_wl,ritz_wl_air(nm),unc_ritz_wl,intens,gA(s^-1),Acc,Ei(cm-1),Ek(cm-1),conf_i,term_i,J_i,conf_k,term_k,J_k,Type,tp_ref,line_ref
0,Ar,1,811.53110,0.00100,811.531100,0.001000,35000,230000000.0,B,93143.7600,105462.7596,3s2.3p5.(2P*<3/2>).4s,2[3/2]*,2,3s2.3p5.(2P*<3/2>).4p,2[5/2],3,NaN,T5223,L2634
1,Ar,1,810.36930,0.00100,810.369200,0.001000,20000,75000000.0,B+,93750.5978,106087.2598,3s2.3p5.(2P*<3/2>).4s,2[3/2]*,1,3s2.3p5.(2P*<3/2>).4p,2[3/2],1,NaN,T5223,L2634
2,Ar,2,810.36931,0.00002,810.368610,0.000040,12023,NaN,NaN,143371.4364,155708.1075,3s2.3p4.(3P).3d,4F,3/2,3s2.3p4.(3P).4p,4P*,1/2,NaN,NaN,L11520
3,Ar,1,805.33080,0.00100,805.330800,0.001000,7,2600000.0,C,106237.5518,118651.3950,3s2.3p5.(2P*<3/2>).4p,2[3/2],2,3s2.3p5.(2P*<3/2>).4d,2[1/2]*,1,NaN,T1218n,L2634
4,Ar,2,804.37600,0.00200,804.374663,0.000026,5,NaN,NaN,148620.1414,161048.7411,3s2.3p4.(1D).4s,2D,3/2,3s2.3p4.(3P).4p,4S*,3/2,NaN,NaN,L14821
5,Ar,2,816.54050,0.00080,816.539388,0.000027,3,NaN,NaN,143107.6801,155351.1206,3s2.3p4.(3P).3d,4F,5/2,3s2.3p4.(3P).4p,4P*,3/2,NaN,NaN,L14821
6,Ar,2,804.43080,0.00080,804.430210,0.000026,2,NaN,NaN,183675.6614,196103.4029,3s2.3p4.(3P).4d,4D,7/2,3s2.3p4.(3P<1>).4f,2[4]*,9/2,NaN,NaN,L14821
7,Ar,2,811.06500,0.00200,811.065882,0.000027,1,NaN,NaN,142717.0965,155043.1619,3s2.3p4.(3P).3d,4F,7/2,3s2.3p4.(3P).4p,4P*,5/2,NaN,NaN,L14821
8,Ar,2,808.37500,0.00200,808.376340,0.000140,1,NaN,NaN,192712.058,205079.1331,3s2.3p4.(3P).4d,2D,3/2,3s2.3p4.(3P<2>).5f,2[2]*,5/2,NaN,NaN,L14821
9,Ar,2,815.06470,0.00080,815.064960,0.000130,1,NaN,NaN,192712.058,204977.6464,3s2.3p4.(3P).4d,2D,3/2,3s2.3p4.(3P<2>).5f,2[3]*,5/2,NaN,NaN,L14821

In [6]:
lines_Ar_threshold = NIST_Line(element='Ar', low_w=200, upper_w=900, sp_num=[1,2,3], threshold=10)

In [7]:
lines_Ar_threshold.search_n_nearest_lines(811, 10)

,element,sp_num,obs_wl_air(nm),unc_obs_wl,ritz_wl_air(nm),unc_ritz_wl,intens,gA(s^-1),Acc,Ei(cm-1),Ek(cm-1),conf_i,term_i,J_i,conf_k,term_k,J_k,Type,tp_ref,line_ref
0,Ar,1,811.53110,0.00100,811.531100,0.00100,35000,230000000.0,B,93143.7600,105462.7596,3s2.3p5.(2P*<3/2>).4s,2[3/2]*,2,3s2.3p5.(2P*<3/2>).4p,2[5/2],3,NaN,T5223,L2634
1,Ar,1,801.47860,0.00100,801.478500,0.00100,25000,46000000.0,B,93143.7600,105617.2700,3s2.3p5.(2P*<3/2>).4s,2[3/2]*,2,3s2.3p5.(2P*<3/2>).4p,2[5/2],2,NaN,T5223,L2634
2,Ar,1,810.36930,0.00100,810.369200,0.00100,20000,75000000.0,B+,93750.5978,106087.2598,3s2.3p5.(2P*<3/2>).4s,2[3/2]*,1,3s2.3p5.(2P*<3/2>).4p,2[3/2],1,NaN,T5223,L2634
3,Ar,1,800.61570,0.00100,800.615600,0.00100,20000,24000000.0,C+,93750.5978,106237.5518,3s2.3p5.(2P*<3/2>).4s,2[3/2]*,1,3s2.3p5.(2P*<3/2>).4p,2[3/2],2,NaN,T5223,L2634
4,Ar,1,794.81760,0.00100,794.817600,0.00100,20000,55800000.0,B,94553.6652,107131.7086,3s2.3p5.(2P*<1/2>).4s,2[1/2]*,0,3s2.3p5.(2P*<1/2>).4p,2[3/2],1,NaN,T5223,L2634
5,Ar,1,840.82100,0.00100,840.820900,0.00100,15000,112000000.0,B+,95399.8276,107289.7001,3s2.3p5.(2P*<1/2>).4s,2[1/2]*,1,3s2.3p5.(2P*<1/2>).4p,2[3/2],2,NaN,T5223,L2634
6,Ar,2,810.36931,0.00002,810.368610,0.00004,12023,NaN,NaN,143371.4364,155708.1075,3s2.3p4.(3P).3d,4F,3/2,3s2.3p4.(3P).4p,4P*,1/2,NaN,NaN,L11520
7,Ar,1,826.45220,0.00100,826.452100,0.00100,10000,45900000.0,B+,95399.8276,107496.4166,3s2.3p5.(2P*<1/2>).4s,2[1/2]*,1,3s2.3p5.(2P*<1/2>).4p,2[1/2],1,NaN,T5223,L2634
8,Ar,1,839.22700,0.01000,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,L2131
9,Ar,2,801.75280,0.00010,801.752791,0.00002,19,2000000.0,C,148620.1414,161089.3846,3s2.3p4.(1D).4s,2D,3/2,3s2.3p4.(3P).4p,2S*,1/2,NaN,T926,L11520